@page
@using TabApp.Models
@model Tuple<TabApp.Pages_Worker.IndexModel, TabApp.Pages_Person.IndexModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(tuple => tuple.Item2.Person[0].Address)
            </th>
        </tr>
}
    </tbody>
</table>
